*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p,h1,h2,h3,span,button,label{
    color: white;
    font-family: "Inter", sans-serif;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
    background-color: #151515;
}

a {
    text-decoration: none;
    color:white;
}

ul, ol{
    list-style: none;
    font-family: "Inter", sans-serif;
}

button {
    cursor: pointer;
}



