@forward "header-base";
@forward "main-base";
@forward "main-blog";
@forward "main-contact";
@forward "main-curso";
@forward "main-login";
@forward "main-register";
@forward "main-whoweare";
@forward "main-legal";
@forward "footer-base";
